<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Email Template
        </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard">Dashboard</a></li>
        <li class="active"><a ui-sref="#">Edit Email Template</a></li>
    </ol>
    <div class="container">
    <div class="row">
      <div class="col-md-10">
      <div class="panel panel-login">
    <aside class="right-side" ng-init="getTemplate()">
        <!-- Content Header (Page header) -->
         <div class="panel-heading">
          <h4> Email Template </h4>
         </div>
        <!-- Main content -->
        <section class="content">
        <div class="panel-body">
        <div class="row">
         <div class="col-lg-12">
          <form role="form" name="templateForm">
                <div class="box-body">
                <div class="form-group row">
                    <div class="col-sm-3">
                    <label>Subject</label>
                    </div>
                    <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model='template.title' placeholder="Enter Title" name="title" valid-alpha-numeric required disabled>
                    <span class="errMsg" ng-show="templateForm.title.$touched && templateForm.title.$invalid">Title is required.</span>
                    </div>
                </div>
                <div class="form-group row">   
                    <div class="col-sm-3"> 
                    <label>Content</label>
                    </div>
                    <div class="col-sm-9">
                      <textarea ckeditor="options" ng-model="template.content" ready="onReady()"></textarea>
                      <span class="errMsg" ng-if="descErr">Content is required.</span>
                    </div>
                </div>  
                <div class="form-group row">
                    <div class="btn-right">
                    <center><button class="btn btn-primary" ng-click="updateTemplate(template)" ng-disabled="templateForm.$invalid">Submit</button></center>
                    </div>
                </div>    
                </div>
        </form>
        </div>
        </div>
        </div>
     </section>
        <!-- /.content -->
    </aside>
    </div>
    </div>
    </div>
    </div>

    <div class="loading_div" ng-show='obj.loading'>
      <center><img class="loading_img" src="./../images/Eclipse.gif"></center>
    </div>

    <!-- /.right-side -->
</section>
</aside>