<div ng-if="loaderStart" loader-css="line-scale-pulse-out" class="loader"></div>
<!-- <ol class="breadcrumb">
    <li class="breadcrumb-item"><a ui-sref="dashboard">Home</a></li>
    <li class="breadcrumb-item active">Barbers</li>
</ol> -->
<div class="panel" ng-init="listTemplates()">
    <div class="panel-body">
        <!-- RAHUL  CODE -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-lg-6" style="margin-left: 300px;"></div>
                        <div>
                            <span class="glyphicon glyphicon-search" style="color:purple"></span>
                            <input ng-model="myobj.search" placeholder="Search for..." my-Enter = "listTemplates('search')" style="width: 140px;"/>
                        </div>
                    
                </div>
                <br>
                <table id="example1" class="table table-bordered table-striped" ng-table="tableParams" show-filter="isFiltersVisible">
                    <tr ng-repeat="emailTemplate in $data track by $index" >
                         <td  data-title="'Subject'" sortable="'title'" filter="{title:'text'}">
                          {{emailTemplate.title}}
                        </td>

                        <td data-title="'Action'" align="center">
                            <button ui-sref="admin.editTemplate({'id':emailTemplate._id})" class="fa fa-pencil" aria-hidden="true" ></button>
                        </td>


                        </td>
                    </tr>

                       <tr ng-show="!$data.length">
                          <td class="text-center" colspan="11">
                          <div class="alert alert-danger">
                              No Template Available
                          </div>
                          </td>
                      </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="delete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Are You Sure, you want to Delete?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmdelete()" data-toggle="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="undelete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Are You Sure, you want to Un Delete?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmundelete()" data-toggle="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .setColor{
        color:blue !important;
    }
</style>


<div class="loading_div" ng-show='obj.loading'>
  <center><img class="loading_img" src="./../images/Eclipse.gif"></center>
</div>
