<section class="faq_section">
 <div class="container">
  <div class="row">
      <h1> Timings </h1>
      <hr>
      For uploaded pieces, production begins as soon as we receive your order. Please allow 3 - 7 business days for us to custom frame your piece, and 1 - 5 business days for your finished framed piece to arrive to your door. The full process takes 4 to 12 business days.

      Need it faster? We offer expedited shipping on uploaded pieces—just select “Expedited” on the Delivery Speed screen during checkout for guaranteed delivery within 3 business days. Pricing ranges from $15 to $40, depending on your art size.

      For mailed-in pieces, please allow 1 - 5 business days to receive your packaging, 1 - 5 business days for your art to arrive to our studio, 3 - 7 business days for us to custom frame your piece, and 1 - 5 business days for your finished framed piece to arrive to your door. The full process takes 5 to 20 business days.

      If you work with a Designer to choose your frame, please allow for an additional 2 business days.


      <h1> Pricing </h1>
      <hr>

      Our pricing ranges from $39 - $189, and is based simply on the the size of your art, so you’re free to choose the frame and mat styles you love the most.

      That said, there are some custom framing techniques that require additional time and materials that we offer at a different cost (like float mounting and accent matting – extra $25, jersey – $199, and scarf sewing – $249, etc.). We’ll always be up front with you about our prices.

      We do all of our custom framing in America, use top-quality materials, and cut and build each frame from scratch to precisely fit every single piece that comes through our doors, which is why our frames cost more than readymade frames. Our pricing is up to 70% less than that of traditional custom frame shops for an equally custom and high-quality product.


      <h1> Shipping and Packaging </h1>
      <hr>


      Standard shipping (in both directions) is always free. If you're mailing in your art, we'll send you prepaid packaging (tube or flat mailer—choose during checkout). Have your own packaging? We'll email you a prepaid shipping label. All you have to do is drop the package at a USPS or FedEx location or store. Once we frame your work, we'll ship the finished pieces back to you in our secure, custom-designed shipping boxes.

      For all orders, art is covered up to $300 by our Art Care Guarantee. For works valued over $300, art is covered by insurance up to $5000 with proof of value. Have a piece valued over $5000? Please contact support@framebridge.com prior to placing your order


      <h1> Printing & Materials </h1>
      <hr>


      If you choose to upload a photo or art for us to print and frame, we'll validate the resolution of your file as you place your order. Our minimum print resolution is 150 dpi, and this determines the sizes we offer you while ordering. If you don't see the size you were hoping for, it means the resolution of your file was not high enough. Feel free to reach out to us with any questions about your file by emailing support@framebridge.com.

      Once we receive your order and uploaded file, we print it using an Epson large-format impact printer with archival inks on Epson Premium Lustre or Enhanced Matte paper. If you're an artist interested in other art papers, please contact us.
    </div>
  </div>
</div>
