<h1> The frame is custom.
The pricing is clear.</h1>
<hr>
Each piece we frame passes through at least nine talented people’s hands before we ship it back to you. Every material is cut just for your art; nothing is off the shelf. A (human) designer looks out for your work from start to finish. This is real American design and manufacturing. And it’s not $500; it’s $199 or less + shipping is always free.

What will my frame cost?

Tell us the size of your art (in inches), and we'll tell you the price. Simple.

WHAT IS THE APPROXIMATE SIZE OF YOUR PIECE?
<hr>
INSTAGRAM(printed at 5x5)$39

EXTRA SMALL(art up to 5x7)$59

SMALL(art up to 9x12)$79

MEDIUM(art up to 16x20)$99

LARGE(art up to 24x36)$149

EXTRA LARGE(art up to 32x40)$189

Yes, that includes the frame. 

And the printing 
(if you want it). 

And the mat. 

And the shipping. Both ways. 

No hidden fees. 

Frame your heart out. 

