<!--registration section-->

<section class="faq_section start_framing_section framing_steps">
 <div class="container">
  <div class="row">
     <div class="col-md-4 steps_info final_step">
        <div class="">
          <div class="title">Create an account</div>
          <p class="lead">Already a member? Please <a ui-sref="login">log in</a> instead.</p>
          <div class="frame_filter">
            <form name = "signup">
                <div class="form-group">
                  <label id="select_box_label">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email" ng-required>
                </div>
                <div class="form-group">
                  <label id="select_box_label" for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="credentials.password" ng-required>
                </div>
                <div class="form-group">
                  <label id="select_box_label" for="confirmPassword">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" ng-model="credentials.confirmPassword"  ng-required pw-check='password'>
                  <div class='msg-block' ng-show='signup.$error'>
                    <span class='msg-error' ng-show='signup.confirmPassword.$error.pwmatch'>
                      Passwords don't match.
                    </span>
                  </div>
                </div>
            </form>
            <button type="button" ng-click = "register(credentials)" class="red_button btn btn-default">Register!</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--registration section-->
