<!--free shipping-->
<section class="free_shipping">
   FREE SHIPPING AUSTRALIA-WIDE
</section>
<!--free shipping-->

<!--forgot password section-->

<section class="faq_section start_framing_section framing_steps">
 <div class="container">      
  <div class="row">
     <div class="col-md-4 steps_info final_step">
        <div class="">
          <div class="title">Forgot Password</div>
          <p class="lead">Back to <a ui-sref="/">login</a>.</p>
          <div class="frame_filter">
             <form id="loginForm" name="loginForm">
                <div class="form-group">
                  <label id="select_box_label">Email address</label>
                  <input type="email" name="username" class="form-control" ng-model="vm.credentials.email" placeholder="Enter your registered email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required >
                </div>
                
                <button type="submit" ng-click="forgotPassword(vm)" class="red_button btn btn-default" >Reset Password</button>

            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--forgot password section-->

<div class="loading_div" ng-show=obj.loading>
  <center>
      <img class="loading_img" src="./../images/Eclipse.gif">
  </center>
</div>