<div class="form-box" ng-cloak>
<div ng-if="showloader" >
    <div class="loader-image">
        <i class="fa fa-spinner fa-pulse fa-spin"></i>
    </div>
    <div class="loader-container"></div>
</div> 
<div class="header"><img src="images/logo_web.png" alt="BH APP" class="logo_image"/>&nbsp;Forgot Password</div>
<form role="form" name="forgot_password" id="forgot-password" ng-submit="resendPassword()">
    <div class="body bg-gray">
        <div class="form-group" ng-class="{'has-error':forgot_password.email.$dirty && (forgot_password.email.$error.pattern || forgot_password.email.$error.required || forgot_password.email.$error.email)}">
            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your registered email" ng-model='email' ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required />
            <label class="control-label" ng-show="forgot_password.email.$dirty && forgot_password.email.$error.required">Email is required.</label>
            <label class="control-label" ng-show="forgot_password.email.$dirty && (forgot_password.email.$error.pattern || forgot_password.email.$error.email)">Email is invalid.</label>
        </div>
    </div>
    <div class="footer">                                                               
        <button type="submit" class="btn bg-olive btn-block" name="resend" ng-disabled="forgot_password.$invalid">Resend Password</button>
        <a href="/#/login" class="text-center">< Back to Sign In</a>
    </div>                         
</form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
