

<!--registration section-->

<section class="faq_section start_framing_section framing_steps">
 <div class="container">
  <div class="row">
     <div class="col-md-4 steps_info final_step">
        <div class="">
          <div class="title">Signin</div>
          <p class="lead">New member? Please <a ui-sref="register">create an account</a> instead.</p>
          <div class="frame_filter">
             <form id="loginForm" name="loginForm" ng-submit=vm.onUserSubmit()>
                <div class="form-group">
                  <label id="select_box_label">Email address</label>
                  <input type="email" name="username" class="form-control" ng-model="vm.credentials.email" required>
                </div>
                <div class="form-group">
                  <label id="select_box_label" for="password">Password</label>
                  <input type="password" name="password" class="form-control" ng-model="vm.credentials.password" required>
                </div>

                <button type="submit" class="red_button btn btn-default">Sign in</button>
                <a ui-sref="forgot-password">Forgot password?</a>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--registration section-->
