<ol class="breadcrumb">
    <li>
        <a ui-sref="admin.dashboard">Dashboard</a>
    </li>
    <li>
        <a ui-sref="admin.listFrames">Frames</a>
    </li>
    <li class="active">Edit</li>
</ol>

<div class="container" ng-init = "editFrame()">
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <span ng-repeat="images in frame.frameImages">
                                <img ng-if="images.isPrimary" width="100" src="{{images.imgPath}}"></img>
                                <i ng-if="images.isPrimary" class="fa fa-times" aria-hidden="true" ng-click="removeIndex(images._id, frame._id)"></i>
                                <i ng-if="images.isPrimary" class="fa fa-pencil" aria-hidden="true" ui-sref="admin.editFrameImage({foo : images._id})" style="cursor: pointer;"></i>
                                <select ng-if="images.isPrimary" ng-model="listArray1" ng-change="editSize($index, listArray1)">
                                    <option value="">{{images.imageType}}</option>
                                    <option ng-repeat="size in listArray" ng-disabled="size.isDisabled">{{size.name}}</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                              