<!--free shipping-->

<section class="free_shipping">
   FREE SHIPPING AUSTRALIA-WIDE
</section>
<!--free shipping-->

<div ng-if = "!imgVis" ng-init = "showArtModal()"></div>
<!--image_uploading_steps-->
<div class="image_uploading_steps" ng-init = "cropImage()">
   <ul>
      <li style="cursor: pointer;" ui-sref = "user.framesType">
         <span class="cirle"></span>
         <span class="text">1 Image</span>
      </li>
      <li style="cursor: pointer;" class="active">
         <span class="cirle"></span>
         <span class="text" ui-sref = "user.artWork" ui-sref-opts="{reload: true}">
         2 Review </span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">3 Size</span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">4 Frame</span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">5 Finalise</span>
      </li>
   </ul>
</div>
<!--image_uploading_steps-->



<!--product section-->
<section class="faq_section start_framing_section framing_steps">
 <div class="container">

  <div class="row">
     <div class="col-md-3 steps_info">
        <div class="title">Review your image.</div>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat</p>
     </div>
     <div class="col-md-3 col-md-offset-1 steps_operation">

         <div class="imagecol setWidth img-container" style="text-align: center;" >
           <img alt="No Image" src="{{cropper.sourceImage}}" id="imageTest" />
       <!--    <img src="https://api.asm.skype.com/v1/objects/0-neu-d5-c86b85bf6bb853b1a31e820805849f32/views/imgpsh_fullsize" id="imageTest"/> -->
         </div><br>

          <div ng-if="showProgressBar" class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{width}}%">
            {{progressPercentage}}%
          </div>
          </div> 


         <span class="setWidth" ng-if = "!validImage">Image quality is not good. Image must be atleast 150 DPI.</span>
         <button  ng-if = "validImage" class="red_button button continue setWidth"  ng-click = "addDigitalImage(cropper.sourceImage)" ng-disabled="disableContinue">Continue</button>
         <a ng-if = "!validImage" class="red_button button continue setWidth" ng-click = "continueAgain(cropper.sourceImage)">Select Another Image</a>

         <ul class="operations setWidth">
             <li ng-if="!hideOption" ng-click="rotate()" ng-class="(disableContinue==true)?'disabled':''">
            <span><i class="zmdi zmdi-rotate-left zmdi-hc-fw"></i></span>
              <span class="name">ROTATE</span>

           </li>

            <li ng-if="!hideOption" ng-click="setShape('square')" ng-class="(disableContinue==true)?'disabled':''">
               <span><i class="zmdi zmdi-fullscreen zmdi-hc-fw"></i></span>
               <span class="name" id="sq">SQUARE</span>
            </li>

            <li ng-if="!hideOption" ng-click="setShape('rectangle')" ng-class="(disableContinue==true)?'disabled':''">
               <span><i class="zmdi zmdi-aspect-ratio-alt zmdi-hc-fw"></i></span>
               <span class="name" >RATIO</span>
            </li>

            <li ng-if="!hideOption" ng-click = "continueAgain(files)" ng-class="(disableContinue==true)?'disabled':''">
               <span><i class="zmdi zmdi-image-o zmdi-hc-fw"></i></span>
               <span class="name">NEW</span>
            </li>
         </ul>
     </div>
  </div>
 </div>
</section>
<!--product section-->




<!--product section-->



<div class = "container">
  <script type="text/ng-template" id="modal.html">
        <div class="modal fade upload_image_popup">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <p>Upload your image.</p>

                        <img  ng-show="files&&!validImageType" src={{files}}  id="profile-img-tag" width="200px" />
                        <span ng-hide="files&&!validImageType" class="dropzone" file-dropzone="[image/png, image/jpeg, image/gif]"
                         file="files" file-name="imageFileName"><img  src="views/styles/images/upload_image.png" width="80" height="80" />
                        </span>
                        <span ng-hide = "files" ng-show="!validImageType">DRAG AND DROP YOUR IMAGE</span>
                        <input type="file"  name="file" id="profile-img" file-input="files" ng-click="imgVis='true'" style="display:none" accept="image/*"/>
                        <span class="setImage" ng-if="validImageType">Please select Valid Image</span>
                        <span ng-if = "!files&&!validImageType"><button ng-model="files" class="browse_image" type="button" onclick="document.getElementById('profile-img').click()">BROWSE IMAGE</button></span>
                        <span ng-if = "files&&validImageType"><button ng-model="files" class="browse_image" type="button" onclick="document.getElementById('profile-img').click()">BROWSE IMAGE</button></span>
                        <div ng-if = "!files&&!validImageType">
                                
                        <button class="browse_image" type="button" class="center" ng-click="close(files)" data-dismiss="modal">OR USE SAMPLE IMAGE</button>
                        </div>
                        <div class="footer">
                            <button ng-show = "files&&!validImageType" ng-show="imgVis" id="confirm" class="browse_image" type="button" data-dismiss="modal" ng-click="close(files)"> CONFIRM </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>

<!-- $timeout([fn], [delay], [invokeApply], [Pass]); -->

<div ng-if = "validImage" class="loading_div" ng-show='obj.loading'>
  <center><img class="loading_img" src="./../images/Eclipse.gif"></center>
</div>

<style type="text/css">
canvas{
  margin-top: 0px !important;
  margin-left:0px !important;
}
.setWidth{
   width:300px !important;
}
img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}
.setImage{
  text-align: center;
  color: red !important;
}
.disabled{
   pointer-events:none; 
   opacity:0.6; 
}
.progress{
 width:115% !important;   
}
</style>
