<section class="free_shipping">
   FREE SHIPPING AUSTRALIA-WIDE
</section>

<div ng-init = "getToken()"></div>

<!--image_uploading_steps-->
<div class="image_uploading_steps">
   <ul>
      <li style="cursor: pointer;" ui-sref = "user.framesType">
         <span class="cirle"></span>
         <span class="text">1 Image</span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">2 Review</span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">3 Size</span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">4 Frame</span>
      </li>
      <li>
         <span class="cirle"></span>
         <span class="text">5 Finalise</span>
      </li>
   </ul>
</div>
<!--image_uploading_steps-->


<section class="faq_section start_framing_section framing_steps">
<div class = "container">
  <!-- <div class="col-sm-12 col-md-12 main" ng-init = "userMedia()"> -->
    <div class="col-sm-12 col-md-12 main">
      <!-- <div class="item  col-xs-4 col-lg-4" ng-repeat="frames in frameList"> -->
      <div ng-repeat = "image in instaImages">
        <div class="item col-xs-4 col-lg-4">
            <a>
             <!--  <img style="width: 300px;height:300px;" class="group list-group-image" src="{{image.standard_resolution.url}}" alt="No Image" ng-click = "imageClicked($index)"> -->
               <img style="width: 300px;height:300px;" class="group list-group-image" src="{{image.standard_resolution.url}}" alt="No Image" ng-click = "imageClicked($index)">
               <br/><br/><br/>
            </a>
        </div>
      </div>
  </div>
</div>
<div class = "container"><br/></div>
</section>
